*{margin: 0;
padding: 0;
box-sizing:border-box;
}
ul li{
    /* background-color: burlywood; */
    height: 40px;
    display: flex;
    width: 100px;
    line-height: 40px;
        /*border: 1px solid black;*/
    text-align: center;
    display: block;
}
.menubar{
    display: flex;
    /* flex-direction: row; */
    /* background-color: burlywood; */
    justify-content: flex-start;
    background-color: tomato;
    align-items: center;
    padding:0 2rem;
        
}
ul li a{
    color: rgb(87, 41, 127);
    text-decoration: none; 
    display: block;
      
}
ul li a:hover{
    background-color: white;

}
ul li ul li{
    z-index: 100px;
    position: relative;
    display: none;
}
ul li:hover ul li{
    display: block;
}
.logo{
    /* background-color: burlywood; */
    /* padding-right: 10%; */
    /* padding-left: 5%;s */
    width:20%;  
}
.logo::before {
    content: '';
    height: 3px;
    background-color: blue;
    bottom: -10;
    left: 50%;
    transform: translate(-50%)
    animation: animate 4s linear infinite;
    }
    @keyframes animate{
        0%{
            width: 100px;
        }
        50%{width: 200px;
        }
        100% {width: 300px;
        }
        }
.logo span{color: white;}

.image-container{
    height: 80vh;

}

.image-container img{
    width: 100%;
    height: 100%;
}


.temp{
    position: relative;
    z-index: 30;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}


.search{
    background-color: white;
       width: 30%;
     display: flex; 
     height: 30px;  
    justify-content: center;
    align-items: center;


}

.search input{
    width: 85%;
    outline:none;
    border:none;
    padding: 0 5px;
}

.search span{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search span i{
    color:tomato;
}
.dpdn{
    z-index: 30px;
    position: absolute;
    background-color: tomato;
    
}
.arr {
    margin-top: 8px;
    width: 305px;
    height: 350px;
    display: grid;
    border: 3px solid black;
    position: relative;
    text-align: center;
}
#cult{
    width: 300px;
    height: 300px;
    align-items: center;
    text-align: right;
    line-height: 20px;
}
#cultu{
    line-height: 10px;
}
.box{
    display: flex;
}
.iconart{
    margin-top: 8px;
    margin-left: 8px;
    display: grid;
    border: 3px solid black;
    width: 305px;
    height: 350px;
    
}