*{margin: 0;
padding: 0;
box-sizing:border-box;
}
ul li{
    background-color: burlywood;
    height: 40px;
    display: flex;
    width: 120px;
    line-height: 40px;
    float: left;
    /*border: 1px solid black;*/
    text-align: center;
    display: block;
}
.menubar{
    display: flex;
    background-color: burlywood;
        
}
ul li a{
    color: rgb(87, 41, 127);
    text-decoration: none; 
    display: block;
      
}
ul li a:hover{
    background-color: white;

}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
.logo{
    background-color: burlywood;
    padding-right: 10%;
    padding-left: 5%;
}
.logo span{color: red;}

.image-container{
    height: 80vh;

}

.image-container img{
    width: 100%;
    height: 100%;
}


.temp{
    position: relative;
    z-index: 30;
}


ul li .search{
    background-color: pink;
    width: 10%;
     display: flex; 
    /* justify-content: center; */
    /* align-items: center; */

}

.search input{

}